In [1]:
import pypyodbc
import pandas
import datetime
from datetime import date

# Define the Components of the Connection String.
server = '192.168.0.21'
port = '4900'
database = 'ICAM'
username = 'admin'
password = 'Clip_SERENA'

# Variables dates
date_today = datetime.datetime.today()
date_limit = date_today + datetime.timedelta(days=21)
formatted_date_limit = date_limit.strftime('%Y%m%d')

# Create a connection object.
connection_object: pypyodbc.Connection = pypyodbc.connect('DRIVER={HFSQL}; \
                        Server Name =' + server + '; \
                        Server Port=' + port + '; \
                        DATABASE=' + database + '; \
                        UID=' + username + '; \
                        PWD=' + password)
                        #Trusted_Connection=yes;

# Create a Cursor Object, using the connection.
cursor_object: pypyodbc.Cursor = connection_object.cursor()

# Define the Select Query.
sql_select = "SELECT GAMME.NAF, \
                GAMME.GACLEUNIK, \
                GAMME.COFRAIS, \
                GAMME.PHASE, \
                (SELECT GAMME2.COFRAIS \
                FROM GAMME2 \
                WHERE 1=1 \
                AND GAMME2.GACLEUNIK = GAMME.GACLEUNIK) as PHASE_PREC \
                FROM GAMME \
                WHERE 1=1 \
                AND GAMME.COFRAIS like 'C35-2'"
                # AND CHARGE.DAT <= '"+formatted_date_limit+"'"
# LEFT JOIN CHARGE ON CHARGE.GACLEUNIK = GAMME.GACLEUNIK \
# AND AFFAIRE.ETATAF like 'F' \
# CHARGE.DAT as DATE_CHARGE,
# LEFT JOIN CHARGE ON GAMME.GACLEUNIK = CHARGE.GACLEUNIK
cursor_object.execute(sql_select)

# Define the column names.
#columns = [column[0] for column in cursor_object.statistics]
columns = [column[0] for column in cursor_object.description]

# Execute the Query.
# records = cursor_object.fetchmany(10)
records = cursor_object.fetchall()

# print(records)

# Dump to a Pandas DataFrame.
ordo_df = pandas.DataFrame.from_records(
    data=records,
    columns=columns
)

ordo_df

# print the head.
# print(ordo_df.head())

       naf  gacleunik
0    40211     438231
1    40211     438231
2    41120     437557
3    41120     437557
4    41120     437557
..     ...        ...
153  40641     430563
154  40641     430563
155  40641     430563
156  40792     431668
157  40792     431668

[158 rows x 2 columns]