In [1]:
# Define the Components of the Connection String.
    server = '192.168.0.21'
    port = '4900'
    database = 'ICAM'
    username = 'admin'
    password = 'Clip_SERENA'

    # Variables dates
    date_today = datetime.datetime.today()
    date_limit = date_today + datetime.timedelta(days=21)
    formatted_date_limit = date_limit.strftime('%Y%m%d')
    print(formatted_date_limit)

    # Create a connection object.
    connection_object: pypyodbc.Connection = pypyodbc.connect('DRIVER={HFSQL}; \
                            Server Name =' + server + '; \
                            Server Port=' + port + '; \
                            DATABASE=' + database + '; \
                            UID=' + username + '; \
                            PWD=' + password)
                            #Trusted_Connection=yes;

    # Create a Cursor Object, using the connection.
    cursor_object: pypyodbc.Cursor = connection_object.cursor()

    # Define the Select Query.
    sql_select = "SELECT GAMME.GACLEUNIK, \
                    CHARGE.DAT as DATE_CHARGE, \
                    CHARGRES.DAT as DATE_ORDO, \
                    CHARGRES.HEUREDEB as HEURE_ORDO, \
                    GAMME.DATEORDOOLD, \
                    CLIENT.NOM as CLIENT_NOM, \
                    AFFAIRE.NAF, \
                    AFFAIRE.ETATAF, \
                    GAMME.RANG, \
                    GAMME.EN_PIECE, \
                    GAMME.PHASE, \
                    AFFAIRE.QTEAF, \
                    AFFAIRE.QTEAFREST, \
                    GAMME.GA_PREP, \
                    GAMME.GA_NBH, \
                    GAMME.GA_NBHR, \
                    AFFAIRE.TYPEAF, \
                    GAMME.OPFINIE, \
                    GAMME.COFRAIS, \
                    CHARGE.COSECT \
                    FROM GAMME \
                    LEFT JOIN AFFAIRE ON GAMME.NAF = AFFAIRE.NAF \
                    LEFT JOIN ENGAM ON GAMME.ENCLEUNIK = ENGAM.ENCLEUNIK \
                    LEFT JOIN CLIENT ON AFFAIRE.COCLI = CLIENT.COCLI \
                    LEFT JOIN CHARGRES ON GAMME.GACLEUNIK = CHARGRES.GACLEUNIK \
                    LEFT JOIN CHARGE ON GAMME.GACLEUNIK = CHARGE.GACLEUNIK \
                    WHERE AFFAIRE.TYPEAF = 1 \
                    AND DATE_CHARGE <= '"+formatted_date_limit+"'"
    cursor_object.execute(sql_select)

    # Define the column names.
    #columns = [column[0] for column in cursor_object.statistics]
    columns = [column[0] for column in cursor_object.description]

    # Execute the Query.
    # records = cursor_object.fetchmany(10)
    records = cursor_object.fetchall()

    # Dump to a Pandas DataFrame.
    ordo_df = pd.DataFrame.from_records(
        data=records,
        columns=columns,
    )

    # Convert DATEORDOOLD to datetime without altering its format
    # ordo_df['dateordoold'] = pd.to_datetime(ordo_df['dateordoold'], format='%Y%m%d%H%M%S', errors='coerce')

    # Localiser en UTC
    ordo_df['dateordoold'] = ordo_df['dateordoold'].dt.tz_localize('UTC', ambiguous='NaT', nonexistent='shift_forward')

    # Traiter les valeurs NaT avant d'utiliser le DataFrame
    ordo_df['date_charge'] = ordo_df['date_charge'].astype(object).where(ordo_df['date_charge'].notnull(), None)
    ordo_df['date_ordo'] = ordo_df['date_ordo'].astype(object).where(ordo_df['date_ordo'].notnull(), None)
    ordo_df['heure_ordo'] = ordo_df['heure_ordo'].astype(object).where(ordo_df['heure_ordo'].notnull(), None)
    ordo_df['dateordoold'] = ordo_df['dateordoold'].astype(object).where(ordo_df['dateordoold'].notnull(), None)
    # ordo_df['date_charge'] = ordo_df['date_charge'].fillna(pd.Timestamp('1970-01-01'))
    # ordo_df['date_ordo'] = ordo_df['date_ordo'].fillna(pd.Timestamp('1970-01-01'))
    # ordo_df['heure_ordo'] = ordo_df['heure_ordo'].fillna(pd.Timestamp('00:00:00'))
    # ordo_df['dateordoold'] = ordo_df['dateordoold'].fillna(pd.Timestamp('1970-01-01 00:00:00'))

    

    ordo_liste = ordo_df.to_dict('records')

    for ordo in ordo_liste:
        # Créer le site de défault
        site_default, site_default_created = Site.objects.get_or_create(
            COSECT='DEFAULT',
            VAR_AFF_SITE=0
        )
        
        # Créer ou récupérer le Site correspondant
        site, site_created = Site.objects.get_or_create(
            COSECT=ordo['cosect'],
            #Libelle_Site='libelle'
        )        
        
        atelier, created = Atelier.objects.get_or_create(
            Libelle_Atelier='DEFAULT',
            VAR_AFF_AT=0
        )

        # Créer le Poste correspondant
        poste, poste_created = Poste.objects.get_or_create(
            COFRAIS=ordo['cofrais'],
            Site_ID=site,
            defaults={
                'Atelier_ID': atelier,
                'Site_ID': site_default
            }
        )
    
        # Créer la Charge correspondante
        of_obj, of_created = Ordre_Frabrication.objects.get_or_create(
            GACLEUNIK=ordo['gacleunik'],
            DATE_CHARGE=ordo['date_charge'],
            NAF=ordo['naf'],
            RANG=ordo['rang'],
            OF_Poste_ID=poste
        )


        # dateordoold_naive = ordo['dateordoold'].to_pydatetime()
        # Vérifier si la dateordoold est None avant de convertir en datetime
        # if ordo['dateordoold'] is not None:
        #     dateordoold_naive = ordo['dateordoold'].to_pydatetime()
        #     of_obj.DATEORDOOLD = make_aware(dateordoold_naive)
        # else:
        #     of_obj.DATEORDOOLD = None

        
        #obj, created = PlanChargeAtelier.objects.get_or_create(COSECT=chrg['cosect'], COFRAIS=chrg['cofrais'], ANNEE=chrg['annee'], SEMAINE=chrg['semaine'])
        site.COSECT = ordo['cosect']
        poste.COFRAIS = ordo['cofrais']
        of_obj.OF_Poste_ID = poste
        of_obj.GACLEUNIK = ordo['gacleunik']
        of_obj.DATE_CHARGE = ordo['date_charge']
        of_obj.DATE_ORDO = ordo['date_ordo']
        of_obj.HEURE_ORDO = ordo['heure_ordo']
        of_obj.DATEORDOOLD = ordo['dateordoold']
        # of_obj.DATEORDOOLD = make_aware(dateordoold_naive)
        of_obj.CLIENT_NOM = ordo['client_nom']
        of_obj.NAF = ordo['naf']
        of_obj.ETATAF = ordo['etataf']
        of_obj.RANG = ordo['rang']
        of_obj.EN_PIECE = ordo['en_piece']
        of_obj.PHASE = ordo['phase']
        of_obj.QTEAF = ordo['qteaf']
        of_obj.QTEAFREST = ordo['qteafrest']
        of_obj.GA_PREP = ordo['ga_prep']
        of_obj.GA_NBH = ordo['ga_nbh']
        of_obj.GA_NBHR = ordo['ga_nbhr']
        of_obj.TYPEAF = ordo['typeaf']
        of_obj.OPFINIE = ordo['opfinie']
        site.save()
        poste.save()
        of_obj.save()

       naf  gacleunik
0    40211     438231
1    40211     438231
2    41120     437557
3    41120     437557
4    41120     437557
..     ...        ...
153  40641     430563
154  40641     430563
155  40641     430563
156  40792     431668
157  40792     431668

[158 rows x 2 columns]